@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto';
  border-bottom: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}
.nav-pages a:hover {
  color: #585858;
}

.nav-pages {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-login-register {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.nav-login-register a {
  padding: 10px;
}
#register {
  border: 1px solid black;
  border-radius: 30px;
}
.cta {
  background-color: #26b64a;
  border-radius: 30px;
}
.cta:hover {
  background-color: #1f8337;
}
#register:hover {
  background-color: #9fa09f;
}
h1 {
  font-family: 'Montserrat';
  margin: 20px 0px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-gallery {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.thumbnail:hover {
  border: 2px solid #26b64a;
}
