<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <title>Page d'Accueil</title>
  </head>
  <body>
    <header class="home-header">
      <div class="dark-opacity">
        <div class="nav-logo-container">
          <nav class="home-nav">
            <a href="/login" class="classic-button">Connexion</a>
            <a href="/profile" class="profile-icon"
              ><img src="/images/icons/profile-white.png" alt="icone profile"
            /></a>
          </nav>
          <a href="/"
            ><img
              src="/images/logos/BSI_WhiteLogo.png"
              alt="logo"
              class="big-logo"
          /></a>
        </div>
        <div class="home-header-content">
          <title>Explorez les trésors de l'humanité !</title>
          <p>
            Explorez une carte interactive des monuments classés par
            L'<span>UNESCO</span>, un voyage virtuel à travers les merveilles
            culturelles et naturelles de notre planète.
          </p>
          <button class="classic-button">Explorer les monuments</button>
        </div>
      </div>
    </header>
    <main>
      <h1>Carte interactive</h1>
      <div id="map" style="height: 600px; width: 1440px"></div>
    </main>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script type="module" src="/script/main.js"></script>
  </body>
</html>
