<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>page d'inscription</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <script>
            const verifyPassword = () => {
                if (
                    document.getElementById('confirmPassword').value !==
                    document.getElementById('password').value
                ) {
                    alert('Les mots de passe ne correspondent pas.');
                    return false;
                }
                return true;
            };
        </script>
        <div class="connexionBox">
            <h1>Inscription</h1>
            <%- include("showMsg") %>
            <form action="/api/user/register" method="POST">
                <label for="username">Nom d'utilisateur</label>
                <input
                    id="username"
                    type="text"
                    name="username"
                    placeholder="Nom d'utilisateur"
                    minlength="3"
                    required
                />
                <label for="email">Email</label>
                <input
                    id="email"
                    type="email"
                    name="email"
                    placeholder="Email d'utilisateur"
                    required
                />
                <label for="password">Mot de passe</label>
                <input
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Mot de passe"
                    minlength="6"
                    required
                />
                <label for="confirmPassword">Confirmer le mot de passe</label>
                <input
                    id="confirmPassword"
                    type="password"
                    name="confirmPassword"
                    placeholder="Mot de passe confirmé"
                    required
                />
                <input
                    type="submit"
                    class="btn"
                    value="S'inscrire"
                    onclick="verifyPassword()"
                />
            </form>
            <a href="/login">J'ai déja un compte</a>
        </div>
    </body>
</html>
