<head>
  <link rel="stylesheet" href="/css/header-footer.css" />
</head>
<footer>
  <nav>
    <div>
      <strong>Coordonnées générales</strong>
      <p>Rue de Sébeillon 12</p>
      <p>1004 Lausanne</p>
    </div>
    <div>
      <strong>Contacts</strong>
      <p>078 352 34 45</p>
      <p>unesco.info@gmail.ch</p>
    </div>
    <div>
      <img src="/images/BSI_BlackLogo.png" alt="BSI Logo" />
      <strong>Mentions légales | Crédits | Conception: BAJENTE</strong>
    </div>
  </nav>
</footer>
