<head>
  <link rel="stylesheet" href="/css/header-footer.css" />
</head>
<header>
  <nav>
    <div>
      <a href="/">Accueil</a>
      <a href="/api/site">Monuments</a>
    </div>

    <img src="/images/BSI_BlackLogo.png" alt="BSI Logo" />

    <div>
      <a href="">Déconnexion</a>
      <img src="/images/profile-icon.png" alt="Icone Profile" />
    </div>
  </nav>
</header>
